* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.col-flex {
  display: flex;
  flex-direction: column;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
